### Example script - shows how to use this API client to access data

#### Load required libraries

In [1]:
import os
from dotenv import load_dotenv, find_dotenv
from zoomin_client import client

#### Declare api_key variable
The secret api key is a must-have to access the data. 
Please replace the code in the below cell to:

```api_key = <secret_key_that_was_shared_in_the_email>```

In [2]:
# find .env automagically by walking up directories until it's found
dotenv_path = find_dotenv()
# load up the entries as environment variables
load_dotenv(dotenv_path)

api_key = os.environ.get("SECRET_API_KEY")

#### Get list of regions

The below code fetches you the regions in a dataframe. You can alternatively get it in a json format. 

The function also allows you to save the data in a json or csv file. Please refer to the function documentation for more information on this.

In [3]:
response_data = client.get_regions(api_key=api_key, 
                                   spatial_resolution='NUTS0',
                                  result_format="df")

In [4]:
response_data

,resolution,region_code,region_name,parent_region_code,year,data_sources
0,NUTS0,CZ,Czechia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
1,NUTS0,DE,Germany,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
2,NUTS0,DK,Denmark,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
3,NUTS0,CY,Cyprus,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
4,NUTS0,AT,Austria,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
5,NUTS0,BE,Belgium,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
6,NUTS0,BG,Bulgaria,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
7,NUTS0,EE,Estonia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
8,NUTS0,EL,Greece,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
9,NUTS0,ES,Spain,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
10,NUTS0,FI,Finland,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
11,NUTS0,FR,France,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
12,NUTS0,HR,Croatia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
13,NUTS0,HU,Hungary,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
14,NUTS0,IE,Ireland,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
15,NUTS0,IT,Italy,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
16,NUTS0,LT,Lithuania,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
17,NUTS0,LU,Luxembourg,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
18,NUTS0,NL,Netherlands,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
19,NUTS0,LV,Latvia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
20,NUTS0,MT,Malta,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
21,NUTS0,PL,Poland,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
22,NUTS0,SI,Slovenia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
23,NUTS0,SK,Slovakia,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
24,NUTS0,SE,Sweden,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
25,NUTS0,PT,Portugal,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."
26,NUTS0,RO,Romania,EU,2016,"[{'source_name': 'GISCO - Eurostat', 'source_l..."

#### Get region data

The below code fetches you the data of a region in a dataframe. You can alternatively get it in a json format. 

The function also allows you to save the data in a json or csv file. Please refer to the function documentation for more information on this.

In [15]:
response_data = client.get_region_data(api_key=api_key, 
                                       spatial_resolution='LAU', 
                                       region_code='05315000',
                                       result_format='df')

In [16]:
response_data

,value,year,data_sources,confidence_interval,quality_rating,climate_experiment,var_name,var_description,var_unit,var_aggregation_method,...,pathway_variant,proxy_metrics,tags.sector,tags.type,tags.commodity,tags.resource,tags.link,tags.objective,tags.direction,tags.other
0,106.634957,2021,"[{'source_name': 'SEEnergies Open Data', 'sour...",None,good,None,electricity demand of chemical industries,None,Terajoules per annum,sum,...,None,[],[industry],[demand],[electricity],[not applicable],[self],[target],[decrease],[not applicable]
1,0.000000,2021,"[{'source_name': 'SEEnergies Open Data', 'sour...",None,good,None,electricity demand of iron and steel industries,None,Terajoules per annum,sum,...,None,[],[industry],[demand],[electricity],[not applicable],[self],[target],[decrease],[not applicable]
2,0.000000,2021,"[{'source_name': 'SEEnergies Open Data', 'sour...",None,good,None,electricity demand of non-ferrous metal indust...,None,Terajoules per annum,sum,...,None,[],[industry],[demand],[electricity],[not applicable],[self],[target],[decrease],[not applicable]
3,0.000000,2021,"[{'source_name': 'SEEnergies Open Data', 'sour...",None,good,None,electricity demand of non-metallic mineral ind...,None,Terajoules per annum,sum,...,None,[],[industry],[demand],[electricity],[not applicable],[self],[target],[decrease],[not applicable]
4,0.000000,2021,"[{'source_name': 'SEEnergies Open Data', 'sour...",None,good,None,electricity demand of paper and printing indus...,None,Terajoules per annum,sum,...,None,[],[industry],[demand],[electricity],[not applicable],[self],[target],[decrease],[not applicable]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,0.000000,2019,[{'source_name': 'JRC Open Power Plants Databa...,None,good,None,number of solar plants,None,number,sum,...,None,[],[energy],[stock],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable]
98,0.000000,2019,[{'source_name': 'JRC Open Power Plants Databa...,None,good,None,number of waste plants,None,number,sum,...,None,[],[energy],[stock],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable]
99,0.000000,2019,[{'source_name': 'JRC Open Power Plants Databa...,None,good,None,number of wind offshore plants,None,number,sum,...,None,[],[energy],[stock],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable]
100,0.000000,2019,[{'source_name': 'JRC Open Power Plants Databa...,None,good,None,number of wind onshore plants,None,number,sum,...,None,[],[energy],[stock],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable]
101,6.154613,2018,[{'source_name': 'A global inventory of solar ...,None,good,None,utility PV installed capacity,None,MW,sum,...,None,[],[energy],[capacity],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable],[not applicable]

In [14]:
for d in response_data[0].get('region_data'):
    print(d.get('var_name'))

electricity demand of chemical industries
electricity demand of iron and steel industries
electricity demand of non-ferrous metal industries
electricity demand of non-metallic mineral industries
electricity demand of paper and printing industries
electricity demand of refineries
fuel demand of chemical industries
fuel demand of iron and steel industries
fuel demand of non-ferrous metal industries
fuel demand of non-metallic mineral industries
fuel demand of paper and printing industries
fuel demand of refineries
generation capacity of biomass plants
generation capacity of fossil brown coal or lignite plants
generation capacity of fossil coal-derived gas plants
generation capacity of fossil gas plants
generation capacity of fossil hard coal plants
generation capacity of fossil oil plants
generation capacity of fossil oil shale plants
generation capacity of fossil peat plants
generation capacity of geothermal plants
generation capacity of hydro pumped storage plants
generation capacity of hydro run-of-river and poundage plants
generation capacity of hydro water reservoir plants
generation capacity of marine plants
generation capacity of nuclear plants
generation capacity of other plants
generation capacity of solar plants
generation capacity of waste plants
generation capacity of wind offshore plants
generation capacity of wind onshore plants
number of biomass plants
number of chemical industries
number of fossil brown coal or lignite plants
number of fossil coal-derived gas plants
number of fossil gas plants
number of fossil hard coal plants
number of fossil oil plants
number of fossil oil shale plants
number of fossil peat plants
number of geothermal plants
number of hydro pumped storage plants
number of hydro run-of-river and poundage plants
number of hydro water reservoir plants
number of iron and steel industries
number of marine plants
number of non-ferrous metal industries
number of non-metallic mineral industries
number of nuclear plants
number of other plants
number of paper and printing industries
number of pixels with agriculture with natural vegetation
number of pixels with agro-forestry areas
number of pixels with airports
number of pixels with bare rocks
number of pixels with beaches - dunes - sands
number of pixels with broad-leaved forest
number of pixels with burnt areas
number of pixels with coastal lagoons
number of pixels with complex cultivation patterns
number of pixels with coniferous forest
number of pixels with construction sites
number of pixels with continuous urban fabric
number of pixels with discontinuous urban fabric
number of pixels with dump sites
number of pixels with estuaries
number of pixels with fruit trees and berry plantations
number of pixels with glaciers and perpetual snow
number of pixels with green urban areas
number of pixels with industrial or commercial units
number of pixels with inland marshes
number of pixels with intertidal flats
number of pixels with land use - nodata
number of pixels with mineral extraction sites
number of pixels with mixed forest
number of pixels with moors and heathland
number of pixels with natural grasslands
number of pixels with non-irrigated arable land
number of pixels with olive groves
number of pixels with pastures
number of pixels with peat bogs
number of pixels with permanent crops
number of pixels with permanently irrigated land
number of pixels with port areas
number of pixels with rice fields
number of pixels with road and rail networks
number of pixels with salines
number of pixels with salt marshes
number of pixels with sclerophyllous vegetation
number of pixels with sea and ocean
number of pixels with sparsely vegetated areas
number of pixels with sport and leisure facilities
number of pixels with transitional woodland-shrub
number of pixels with vineyards
number of pixels with water bodies
number of pixels with water courses
number of refineries
number of solar plants
number of waste plants
number of wind offshore plants
number of wind onshore plants
utility PV installed capacity

In [ ]:
response_data.get('regions')[0].get('region_data')