### Example script - shows how to use this API client to access a single variable data for all regions at a specified resolution, in a specified country.

#### Load required libraries

In [ ]:
from zoomin_client import client

#### Get metadata

In [ ]:
var_metadata = client.get_variable_metadata(country_code="de",
                                            result_format="df"
                                )

#NOTE: to filter on a particular variable, use "variable" parameter

In [ ]:
var_metadata

#### Get proxy details

In [ ]:
proxy_details = client.get_proxy_details(country_code="de",
                                            variable="population"
                                )

In [ ]:
proxy_details

#### Get data

In [ ]:
result_data = client.get_variable_data(country_code="de",
                                variable="population",
                                spatial_resolution="LAU",
                                result_format="df",
                                      )

In [ ]:
result_data

#### Get EUCalc data - filtered on a single pathway

In [ ]:
result_data = client.get_variable_data(country_code="de",
                                variable="eucalc_agr_co2e_liv_treated_meat_oth_animals_ei",
                                pathway_description="national",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

In [ ]:
result_data

#### Get climate data - filtered on a single climate experiment

In [ ]:
result_data = client.get_variable_data(country_code="de",
                                variable="cproj_annual_maximum_temperature_cooling_degree_days",
                                climate_experiment="RCP2.6",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

In [ ]:
result_data