### Example script - shows how to use this API client to access a single variable data for all regions at a specified resolution, in a specified country.

#### Load required libraries

In [1]:
from zoomin_client import client

#### Get metadata

In [2]:
var_metadata = client.get_variable_metadata(version="v5", 
                                            country_code="de",
                                            result_format="df"
                                )

#NOTE: to filter on a particular variable, use "variable" parameter

http://data.localised-project.eu/dsp/v5/de/variable_metadata/
http://data.localised-project.eu/dsp/v5/de/variable_metadata/?page=2

In [3]:
var_metadata

,var_name,var_description,var_unit,data_last_update,var_aggregation_method,taggings,post_disagg_calculation_eq,var_source_name,var_source_link,var_source_citation,var_source_license,original_resolution
0,cproj_annual_mean_precipitation,Daily precipitation averaged over a year,mm/day,2021,AVG,"[{'tag_dimension': 'sector', 'tag_name': 'weat...",None,EURO-CORDEX: new high-resolution climate chang...,https://www.euro-cordex.net/060378/index.php.en,"D. Jacob et al., ‘EURO-CORDEX: new high-resolu...",None,NUTS3
1,cproj_annual_total_precipitation,Daily precipitation summed over a year,mm,2021,AVG,"[{'tag_dimension': 'sector', 'tag_name': 'weat...",None,EURO-CORDEX: new high-resolution climate chang...,https://www.euro-cordex.net/060378/index.php.en,"D. Jacob et al., ‘EURO-CORDEX: new high-resolu...",None,NUTS3
2,cproj_annual_mean_mean_temperature,Daily mean temperature averaged over a year,degree celsius,2021,AVG,"[{'tag_dimension': 'sector', 'tag_name': 'weat...",None,EURO-CORDEX: new high-resolution climate chang...,https://www.euro-cordex.net/060378/index.php.en,"D. Jacob et al., ‘EURO-CORDEX: new high-resolu...",None,NUTS3
3,cproj_annual_mean_maximum_temperature,Daily maximum temperature averaged over a year,degree celsius,2021,AVG,"[{'tag_dimension': 'sector', 'tag_name': 'weat...",None,EURO-CORDEX: new high-resolution climate chang...,https://www.euro-cordex.net/060378/index.php.en,"D. Jacob et al., ‘EURO-CORDEX: new high-resolu...",None,NUTS3
4,cproj_annual_mean_minimum_temperature,Daily minimum temperature averaged over a year,degree celsius,2021,AVG,"[{'tag_dimension': 'sector', 'tag_name': 'weat...",None,EURO-CORDEX: new high-resolution climate chang...,https://www.euro-cordex.net/060378/index.php.en,"D. Jacob et al., ‘EURO-CORDEX: new high-resolu...",None,NUTS3
...,...,...,...,...,...,...,...,...,...,...,...,...
853,eucalc_str_subdaily_flywheel,None,percentage,2022,SUM,"[{'tag_dimension': 'sector', 'tag_name': 'ener...",None,LOCALISED Deliverable 2.3,https://www.localised-project.eu/wp-content/up...,"Costa L., (2023), Library of model outputs at ...",Creative Commons Attribution-NonCommercial-Sha...,NUTS0
854,eucalc_str_subdaily_natural_gas_prod,None,percentage,2022,SUM,"[{'tag_dimension': 'sector', 'tag_name': 'ener...",None,LOCALISED Deliverable 2.3,https://www.localised-project.eu/wp-content/up...,"Costa L., (2023), Library of model outputs at ...",Creative Commons Attribution-NonCommercial-Sha...,NUTS0
855,eucalc_str_weekly_phs,None,percentage,2022,SUM,"[{'tag_dimension': 'sector', 'tag_name': 'ener...",None,LOCALISED Deliverable 2.3,https://www.localised-project.eu/wp-content/up...,"Costa L., (2023), Library of model outputs at ...",Creative Commons Attribution-NonCommercial-Sha...,NUTS0
856,eucalc_str_weekly_ptx,None,percentage,2022,SUM,"[{'tag_dimension': 'sector', 'tag_name': 'ener...",None,LOCALISED Deliverable 2.3,https://www.localised-project.eu/wp-content/up...,"Costa L., (2023), Library of model outputs at ...",Creative Commons Attribution-NonCommercial-Sha...,NUTS0
857,eucalc_str_weekly_natural_gas_prod,None,percentage,2022,SUM,"[{'tag_dimension': 'sector', 'tag_name': 'ener...",None,LOCALISED Deliverable 2.3,https://www.localised-project.eu/wp-content/up...,"Costa L., (2023), Library of model outputs at ...",Creative Commons Attribution-NonCommercial-Sha...,NUTS0

#### Get proxy details

In [4]:
proxy_details = client.get_proxy_details(version="v5", 
                                         country_code="de",
                                            variable="eucalc_agr_emissions_co2e_liv_enteric_meat_poultry"
                                )

In [5]:
proxy_details

[{'year': 2020,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2025,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2030,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2035,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2040,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2045,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3},
 {'year': 2050,
  'disaggregation_binary_criteria': None,
  'disaggregation_proxy': 'number_of_chickens',
  'proxy_confidence_level': 3}]

#### Get data

In [6]:
result_data = client.get_variable_data(version="v5", 
                                    country_code="de",
                                variable="eucalc_agr_emissions_n2o_liv_applied_meat_poultry",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

http://data.localised-project.eu/dsp/v5/de/variable_data/?resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=2&resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=3&resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=4&resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=5&resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=6&resolution=NUTS3&variable=eucalc_agr_emissions_n2o_liv_applied_meat_poultry

INFO:utils:Elapsed time for <function get_variable_data at 0x000002161AF26B60>: 0.1 minutes

In [7]:
result_data

,value,year,pathway,climate_experiment,region_code,value_confidence_level
0,9.863652e-08,2020,national,None,DE600,MEDIUM
1,6.639922e-08,2020,national,None,DE711,MEDIUM
2,1.121088e-07,2020,national,None,DE712,MEDIUM
3,2.405769e-08,2020,national,None,DE713,MEDIUM
4,1.270246e-07,2020,national,None,DE714,MEDIUM
...,...,...,...,...,...,...
609,6.712548e-07,2050,with_behavioural_changes,None,DEF0E,MEDIUM
610,1.460003e-07,2050,with_behavioural_changes,None,DEF0F,MEDIUM
611,3.271793e-07,2050,with_behavioural_changes,None,DEG0L,MEDIUM
612,4.072412e-07,2050,with_behavioural_changes,None,DEG0M,MEDIUM
613,2.564753e-08,2050,with_behavioural_changes,None,DEG0N,MEDIUM

In [8]:
result_data[result_data["region_code"].str.startswith("DEA23")]

,value,year,pathway,climate_experiment,region_code,value_confidence_level
219,2.607853e-07,2020,national,None,DEA23,MEDIUM
620,2.600738e-07,2020,with_behavioural_changes,None,DEA23,MEDIUM
21,2.387271e-07,2025,national,None,DEA23,MEDIUM
422,1.981684e-07,2025,with_behavioural_changes,None,DEA23,MEDIUM
823,2.230729e-07,2030,national,None,DEA23,MEDIUM
224,1.629464e-07,2030,with_behavioural_changes,None,DEA23,MEDIUM
625,2.148900e-07,2035,national,None,DEA23,MEDIUM
26,1.355515e-07,2035,with_behavioural_changes,None,DEA23,MEDIUM
427,2.056397e-07,2040,national,None,DEA23,MEDIUM
828,1.072671e-07,2040,with_behavioural_changes,None,DEA23,MEDIUM
229,1.908749e-07,2045,national,None,DEA23,MEDIUM
630,7.667018e-08,2045,with_behavioural_changes,None,DEA23,MEDIUM
31,1.750428e-07,2050,national,None,DEA23,MEDIUM
432,4.696271e-08,2050,with_behavioural_changes,None,DEA23,MEDIUM

In [9]:
result_data = client.get_variable_data(version="v5", 
                               country_code="de",
                                variable="eucalc_agr_emissions_co2e_liv_enteric_meat_poultry",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

http://data.localised-project.eu/dsp/v5/de/variable_data/?resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=2&resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=3&resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=4&resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=5&resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=6&resolution=NUTS3&variable=eucalc_agr_emissions_co2e_liv_enteric_meat_poultry

INFO:utils:Elapsed time for <function get_variable_data at 0x000002161AF26B60>: 0.07 minutes

In [10]:
result_data_proxy = client.get_variable_data(version="v5", 
                                             country_code="de",
                                variable="number_of_poultry",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

INFO:utils:Elapsed time for <function get_variable_data at 0x000002161AF26B60>: 0.0 minutes

http://data.localised-project.eu/dsp/v5/de/variable_data/?resolution=NUTS3&variable=number_of_poultry

#### Get EUCalc data - filtered on a single pathway

In [11]:
result_data = client.get_variable_data(version="v5", 
                                       country_code="de",
                                variable="eucalc_agr_co2e_liv_treated_meat_oth_animals_ei",
                                pathway_description="national",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

http://data.localised-project.eu/dsp/v5/de/variable_data/?resolution=NUTS3&variable=eucalc_agr_co2e_liv_treated_meat_oth_animals_ei&pathway=national
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=2&pathway=national&resolution=NUTS3&variable=eucalc_agr_co2e_liv_treated_meat_oth_animals_ei
http://data.localised-project.eu/dsp/v5/de/variable_data/?page=3&pathway=national&resolution=NUTS3&variable=eucalc_agr_co2e_liv_treated_meat_oth_animals_ei

INFO:utils:Elapsed time for <function get_variable_data at 0x000002161AF26B60>: 0.07 minutes

In [12]:
result_data

,value,year,pathway,climate_experiment,region_code,value_confidence_level
0,0.000002,2020,national,None,DE600,MEDIUM
1,0.000002,2020,national,None,DE711,MEDIUM
2,0.000002,2020,national,None,DE712,MEDIUM
3,0.000000,2020,national,None,DE713,MEDIUM
4,0.000002,2020,national,None,DE714,MEDIUM
...,...,...,...,...,...,...
802,0.000002,2050,national,None,DEF0E,MEDIUM
803,0.000002,2050,national,None,DEF0F,MEDIUM
804,0.000002,2050,national,None,DEG0L,MEDIUM
805,0.000002,2050,national,None,DEG0M,MEDIUM
806,0.000002,2050,national,None,DEG0N,MEDIUM

#### Get climate data - filtered on a single climate experiment

In [13]:
result_data = client.get_variable_data(version="v5", 
                                       country_code="de",
                                variable="cproj_annual_maximum_temperature_cooling_degree_days",
                                climate_experiment="RCP2.6",
                                spatial_resolution="NUTS3",
                                result_format="df",
                                      )

http://data.localised-project.eu/dsp/v5/de/variable_data/?resolution=NUTS3&variable=cproj_annual_maximum_temperature_cooling_degree_days&climate_experiment=RCP2.6
http://data.localised-project.eu/dsp/v5/de/variable_data/?climate_experiment=RCP2.6&page=2&resolution=NUTS3&variable=cproj_annual_maximum_temperature_cooling_degree_days
http://data.localised-project.eu/dsp/v5/de/variable_data/?climate_experiment=RCP2.6&page=3&resolution=NUTS3&variable=cproj_annual_maximum_temperature_cooling_degree_days
http://data.localised-project.eu/dsp/v5/de/variable_data/?climate_experiment=RCP2.6&page=4&resolution=NUTS3&variable=cproj_annual_maximum_temperature_cooling_degree_days

INFO:utils:Elapsed time for <function get_variable_data at 0x000002161AF26B60>: 0.08 minutes